<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Polytech</span> TEAM</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img class="img1" src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-9/67715976_145409353324287_2056318852563730432_n.jpg?_nc_cat=108&ccb=1-6&_nc_sid=174925&_nc_ohc=eX-4_OSpZ4AAX9Cs65F&tn=PKsXp07L7lE4riQ0&_nc_ht=scontent.ftun10-1.fna&oh=00_AT9Kcm3dlF_Gj8psCyQIZSK6ypZQc--I7fQinY7wXoEJiw&oe=62A0C17F"
                        class="img-responsive" alt="team img 1">
                    <div class="team-des">
                        <h4 style="color:white"><strong>Mootez Ben Abdallah</strong></h4>
                        <span>Developer</span>
                        <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img class="img1" src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.15752-9/280142727_1015098549109878_873205335857189155_n.jpg?_nc_cat=100&ccb=1-6&_nc_sid=ae9488&_nc_ohc=LMsPDWSJJvMAX8jGjsx&_nc_ht=scontent.ftun10-1.fna&oh=03_AVLeBY0moN2yGWWbeVQIWr2M5foK5KGCc60k19kuso-kxA&oe=62A1392F"
                        class="img-responsive" alt="team img 2" style="height: 259px; width: 400px;">
                    <div class="team-des">
                        <h4 style="color:white"><strong>Dhia Hammami</strong></h4>
                        <span>Developer</span>
                        <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>