<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s" style="color:white">Welcome to our <span>Project</span></h1>
                <div class="element">

                    <div class="sub-element" style="color:white">Awesome application is Designed and Developped by Moaataz Ben Abdallah and Dhia Hammami.</div>
                    <div class="sub-element" style="color:white">If you need this app, Please contact us.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>